
@{
    ViewBag.Title = "ad info";
}
<div class="ad-poster">
    <center>
        <span class="ad-info">
            <span class="ad-info-text">Информация о рекламе</span>
        </span>
    </center>
</div>


<div class="container">
    <center>
        <div class="info-adBlock">
            <div style="margin-top:40px;text-align:left;">
                <span>
                    При покупке рекламного места вы получаете 2 слота для ваших обьявлений.
                    Объявления можно менять неограниченное кол-во раз , однако 
                    <span class="info-weight" style="color:red"> Url ваших объявлений (ссылка на ваш сайт или то ,что вы рекламируете) можно добавить только 1 раз!</span>
                    <br />
                    При истечении срока рекламного места все данные стираются.
                    <br />
                    Оплата производится через электронный кошелек
                    <span class="info-weight"> Яндекс.Деньги </span>или через банковскую карту
                    <span class="info-weight">mastercard | maestro | visa | мир</span>
                    <br />
                    Что бы разместить вашу рекламу вам потребуется сделать несколько простых шагов:
                </span>
            </div>



            <h3>1 | Найти понравившееся вам изображение и перейти по нему</h3>
            <img src="~/Content/step_1.png" />
            <h3>2 | Нажать на кнопку купить рекламу или по объявлению</h3>
            <img src="~/Content/step_2.png" />
            <h3>3 | Выбрать срок рекламного места и способ оплаты</h3>
            <img src="~/Content/step_3.png" />
            <h3>4 | Ввести свои данные и оплатить </h3>
            <img src="~/Content/step_4.png" />
            <h3>После этого у вас появиться панель управления </h3>
            <img src="~/Content/step_5.png" />
            <h3>
                5 | Добавить 2 изображения и ссылку на ваше объявления
                (ссылку на обьявление можно добавить только 1 раз, а изображения неограниченно).
                Можно сначало поэкспериментировать с изображениями , а потом добавить ссылку.
            </h3>
            <img src="~/Content/step_6.png" />
            <img src="~/Content/step_7.png" />
            <h3>Вот и всё. Если возникнут вопросы , то свяжитесь с нами по почте. </h3>
        </div>
    </center>
</div>